:root{ 
--title: 32px;
--subtitle: 26px; 
--paragraph: 18px; 
--principal: #B31312;
--secondary: #2B2A4C;
--complement: #EA906C;
--background: #EEE2DE;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.menu {
    background-color: var(--background);
}
.menu .logo-nombre{
    font-weight: 800;
    color: var(--secondary);
}

.menu .secciones .nav-link:hover{
    color: var(--secondary);
}
@media (max-width: 576px){
    .menu .logo-nombre{
        font-size: 15px;
    }
}

h1 {
    font-weight: bold;
    color: var(--secondary);
}

.header{
    background-color: var(--background);
    background-image: url(../img/asamblea.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    background-size: cover;     
}

@media (min-width: 576px){
    .header{
        padding: 4em;
    }  
}
.header .texto{
    background-color: #2B2A4CA6;
    color: var(--background);
    
}
.header .texto p{
    padding: 20px;
}
.main-title .title{
    text-align: center;
} 
.mapas-box h3{
    color: var(--secondary);
    

}
.footer{
    background-color: var(--background);
    color: var(--secondary);
}
.footer .footer-box{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.main-acerca{
    padding: 0.5em 1em;
}
@media (min-width: 1024px){
    .main-acerca{
        padding-left: 8em;
        padding-right: 8em;
    }
}
.main-acerca .title{ 
    margin-bottom: 1em;
}

.main-acerca .texto{
    font-size: 18px;
}

.main-acerca .texto a{
    color: var(--principal);
    text-decoration: none;
}
.main-acerca .texto a:hover{
    color: var(--secondary);
}
@media (min-width: 1024px){
    .contenedor{
        height: 100vh;
        }
}
.main-acerca  .lista{
    list-style-position: outside;
    font-size: 18px;
}
.main-acerca .lista a{
    color:var(--principal);
    text-decoration: none;
}
.main-acerca .lista a:hover{
    color:var(--secondary);
}

.main-blog{  
    padding-left: 10%;
    padding-right: 10%; 
}
.main-blog .blockquote{   
    letter-spacing: 0.1rem; 
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondary);   
}

.header .texto p{
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0;
}
.bloque-redes h3{
    font-weight: bold;
    border-bottom: 2px solid var(--secondary);    
}
.seccion-datos picture img{
    width: 100%;
}
.seccion-datos picture p{
    font-size: small;
    text-align: center;
    margin-top: 10px;
    color: var(--principal);
    font-weight: 700;
}
.seccion-datos a{
    text-decoration: none;
    color: var(--principal);
}
.seccion-datos a:hover{
    color: var(--secondary);
}

.main-table .texto a{
    color: var(--principal);
    text-decoration: none;
}
.main-table .texto a:hover{
    color: var(--secondary);
}
.table img{
    width: 30px;
    height: 30px;
}
#buscador {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 4rem;
  }


#AsambleaTabla td a{
    color: var(--principal);
    text-decoration: none;
}
#AsambleaTabla td a:hover{
    color: var(--secondary);
}